@tailwind base;
@tailwind components;
@tailwind utilities;
.lol {
  color: white;
}
.line-clampy-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.lmao {
  /* 1 1 */

  position: absolute;
  width: 884px;
  height: 497px;
  left: 305px;
  top: 889px;

  background: url(../public/1.jpg);
}

.spacer {
  aspect-ratio: 960/100;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1 {
  background-image: url("../public/wave-haikei.svg");
}
